.card-item {
	display: flex;
	align-items: center;

	.card-image {
		height: 60px;
		width: 60px;
		border-radius: 10px;
		margin-right: 10%;
	}

	.card-details {
		margin-right: 50%;
	}
}


// .titles {
// 	h5, p {
// 		margin: 0;
// 		color: white;
// 	}
	
// 	h5 {
// 		font-size: 17px;
// 		font-weight: 400;
// 		margin-bottom: 7px;
// 	}
	
// 	p {
// 		font-size: 13px;
// 		color: #929292;
// 	}
// }
