{{#each model as |item|}}
	<img class="card-image" src="{{item.avatar}}">
	<div class="card-details">
		<p>{{item.name}}</p>
		<p>{{item.age}}</p>
	</div>
	<div class="card-price">
		<p>$2.99</p>
	</div>
{{/each}}
